<div class="flex flex-col gap-4 p-4">
    <h1>ACCOUNT</h1>
    <div class="flex gap-2">
        <img class="h-10 rounded-full" src="https://www.clipartkey.com/mpngs/m/152-1520367_user-profile-default-image-png-clipart-png-download.png">
        <div>
            <p>Username</p>
            <p>email</p>
        </div>
    </div>
    <div class="flex justify-between">
        <p>Manage account</p>
        <p><i class='bx bx-link-external'></i></p>
    </div>
    <hr>
    <h1>UPGRADE</h1>
    <div class="flex justify-between">
        <p>Try the Standard plan</p>
        <p class="bg-blue-600 text-white">FREE 14-DAY TRIAL</p>
        <p><i class='bx bx-link-external'></i></p>
    </div>
    <hr>
    <div class="flex flex-col gap-4">
        <h1>TASKIFY</h1>
        <p>Profile</p>
        <p>Personal settings</p>
        <div class="flex justify-between">
            <p>Theme</p>
            <p><i class='bx bx-chevron-right'></i></p>
        </div>
    </div>
    <hr>
    <p>Log out</p>
</div>