<div class="flex flex-col gap-3.5 p-3">
    <h1 class="text-xs font-semibold">ACCOUNT</h1>
    <div class="flex gap-2">
        <img class="h-8 rounded-full" src="https://www.clipartkey.com/mpngs/m/152-1520367_user-profile-default-image-png-clipart-png-download.png">
        <div class="text-xs">
            <p>Username</p>
            <p>email</p>
        </div>
    </div>
    <div class="flex justify-between text-xs">
        <p>Manage account</p>
        <p><i class='bx bx-link-external'></i></p>
    </div>
    <hr>
    <h1 class="text-xs font-semibold">UPGRADE</h1>
    <div class="flex justify-between text-xs gap-4">
        <p>Try the Standard plan</p>
        <p class="bg-blue-600 text-white">FREE 14-DAY TRIAL</p>
        <p><i class='bx bx-link-external'></i></p>
    </div>
    <hr>
    <div class="flex flex-col gap-4">
        <h1 class="text-xs font-semibold">TASKIFY</h1>
        <p class="text-xs">Profile</p>
        <p class="text-xs">Personal settings</p>
        <div class="flex justify-between text-xs">
            <p>Theme</p>
            <p><i class='bx bx-chevron-right'></i></p>
        </div>
    </div>
    <hr>
    <p class="text-xs">Log out</p>
</div>