@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.mat-h2, .mat-headline-6, .mat-typography .mat-h2, .mat-typography .mat-headline-6, .mat-typography h2 ,
.mat-headline-6, .mat-typography .mat-h2, .mat-typography .mat-headline-6, .mat-typography h1{
    margin: 0px;
}
